<template>
    <v-app id="inspire" :class="{
        'free-back': loggedIn,
        'blue-back': !loggedIn
    }">
        <transition name="fade">
            <v-container id="login" key="login" v-if="!loggedIn && showLogin && !resetting" fluid fill-height style="min-height: 100%">
                <v-content>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-24">
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Login</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-text-field prepend-icon="person"
                                                  label="Login"
                                                  type="text" v-model="loginData.email"
                                                  :disabled="loginData.loading"
                                                  :error="errors.email !== ''"
                                                  :error-messages="errors.email"
                                                  autocomplete="off"
                                    ></v-text-field>
                                    <v-text-field prepend-icon="lock"
                                                  label="Password"
                                                  type="password" v-model="loginData.password"
                                                  :disabled="loginData.loading"
                                                  :error="errors.password !==''"
                                                  :error-messages="errors.password"
                                                  autocomplete="off"
                                    ></v-text-field>
                                    <a @click="startReset">Forgot password? Click here to reset</a>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" @click="login" :loading="loginData.loading">Login</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-content>
            </v-container>
            <v-container id="reset" key="reset" v-if="resetting" fluid fill-height style="min-height: 100%">
                <v-content>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-24">
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Reset password</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-text-field prepend-icon="person"
                                                  label="Email"
                                                  type="text" v-model="resetEmail"
                                                  :disabled="resetLoading"
                                                  :error="resetEmail === ''"
                                                  autocomplete="off"
                                    ></v-text-field>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="stopReset" :disabled="resetLoading">Cancel</v-btn>
                                    <v-btn color="primary" @click="reset" :loading="resetLoading" :disabled="resetEmail === ''">Request reset</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-content>
            </v-container>

            <v-container fluid id="app" key="app" v-if="loggedIn">
                <v-navigation-drawer
                    :clipped="$vuetify.breakpoint.lgAndUp"
                    v-model="drawer"
                    fixed
                    app
                    style="padding-top: 10px"
                    width="220"
                >
                    <div class="drawer-logo-wrap">
                        <img src="/images/logo.png" alt="img" class="drawer-logo">
                        <h2 class="drawer-title">Free CRM</h2>
                        <p class="drawer-description">Laravel + Vue.js App</p>
                    </div>

                    <v-list dense>
                        <v-divider></v-divider>
                        <template v-for="item in navigation">
                            <v-list-group
                                v-if="item.children"
                                v-model="item.model"
                                :key="item.text"
                                :prepend-icon="item.model ? item.icon : item['icon-alt']"
                                append-icon=""
                                ripple
                            >
                                <v-list-tile slot="activator">
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            {{ item.text }}
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile
                                    v-for="(child, i) in item.children"
                                    :disabled="disableNav"
                                    :key="i"
                                    :to="child.to"
                                    ripple
                                >
                                    <v-list-tile-action v-if="child.icon">
                                        <v-icon>{{ child.icon }}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            {{ child.text }}
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list-group>
                            <v-list-tile v-else-if="item.header" :disabled="disableNav" :key="item.text">
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.header }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile v-else :disabled="disableNav" :key="item.text" :to="item.to" ripple>
                                <v-list-tile-action>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                    <v-list dense>
                        <v-divider></v-divider>
                        <template v-for="item in middleNavigation">
                            <v-list-tile :disabled="disableNav" :key="item.text" :to="item.to" ripple>
                                <v-list-tile-action>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                    <v-spacer v-if="this.$router.isAdmin"></v-spacer>
                    <v-list dense v-if="this.$router.isAdmin">

                        <v-divider></v-divider>
                        <template v-for="item in bottomNavigation">
                            <v-list-tile :disabled="disableNav" :key="item.text" :to="item.to" ripple>
                                <v-list-tile-action>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-navigation-drawer>
                <v-toolbar
                    :clipped-left="$vuetify.breakpoint.lgAndUp"
                    color="blue darken-3"
                    dark
                    app
                    fixed
                >
                    <v-toolbar-title style="width: 70%" class="ml-0 pl-0">
                        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                        <span style="display: inline-flex; align-items: center">
                    <h3 style="margin-left: 10px; transition: all 375ms ease; opacity: 0" :class="[{
                        'visible': currentPageLabelVisible
                    }]">{{currentPage}}</h3>

                </span>
                    </v-toolbar-title>

                    <v-spacer></v-spacer>
                    <div class="user-info">
                        <p class="username">{{ user.name }}</p>
                        <p class="role">{{ user.role.label }}</p>
                    </div>
                    <v-tooltip bottom>
                        <v-btn icon large @click="logout" slot="activator">
                            <v-avatar size="32px" tile>
                                <i class="v-icon material-icons">logout</i>
                            </v-avatar>
                        </v-btn>
                        <span>Logout</span>
                    </v-tooltip>
                </v-toolbar>
                <v-content>
                    <transition name="router">
                        <router-view :key="$route.fullPath"></router-view>
                    </transition>
                </v-content>
            </v-container>
        </transition>

        <v-dialog
            v-model="modal.show"
            width="460"
        >
            <v-card>
                <v-card-title class="headline light-blue darken-2">
                    <p style="color: white; font-size: 20px; margin: 0">{{modal.header}}</p>
                </v-card-title>
                <v-card-text style="justify-content: flex-end">
                    <p>{{modal.text}}</p>
                    <v-layout align-right>
                        <v-flex md12 text-xs-right>
                            <v-btn
                                dark
                                color="light-blue darken-2"
                                @click="modal.show = false"
                            >
                                OK
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-snackbar
            color="blue darken-2"
            v-model="snackbar.show"
            bottom
            :timeout="5000"
            absolute
        >
            {{ snackbar.text }}
            <v-btn
                color="white"
                flat
                @click="snackbar.show = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-app>

</template>

<script>
    import {bus} from './services/bus'
    import axios from 'axios'

    export default {
        name: "App",
        data() {
            return {
                drawer: true,
                loggedIn: false,
                showLogin: false,
                user: null,

                currentPage: 'Dashboard',
                currentPageLabelVisible: true,

                disableNav: false,

                navigation: [
                    {
                        icon: 'dashboard',
                        text: 'Dashboard',
                        to: '/'
                    },
                    {
                        icon: 'how_to_reg',
                        text: 'Leads',
                        to: '/leads'
                    },
                    {
                        icon: 'contacts',
                        text: 'Contacts',
                        to: '/contacts'
                    },
                    {
                        icon: 'thumb_up',
                        text: 'Deals',
                        to: '/deals'
                    },
                    {
                        icon: 'done_all',
                        text: 'Tasks',
                        to: '/tasks'
                    },
                ],

                middleNavigation: [
                    {
                        icon: 'account_circle',
                        text: 'Account settings',
                        to: '/settings/account'
                    },
                ],

                bottomNavigation: [
                    {
                        icon: 'settings',
                        text: 'Admin settings',
                        to: '/settings/admin'
                    },
                ],

                modal: {
                    header: '',
                    text: '',
                    show: false
                },

                loginData: {
                    email: '',
                    password: '',
                    loading: false
                },

                errors: {
                    email: '',
                    password: ''
                },

                snackbar: {
                    show: false,
                    text: ''
                },

                resetting: false,
                resetEmail: '',
                resetLoading: false,
            };
        },
        created() {
            if(this.user === null){
                document.title = 'Login'
            }
            axios.defaults.baseURL = '/api/';

            if (localStorage.getItem('drawerState')) {
                this.drawer = localStorage.getItem('drawerState') === 'true'
            }

            bus.$on('change-page', (name) => {
                this.setCurrentPage(name)
            });

            bus.$on('loading', (state) => {
                this.disableNav = state
            });

            bus.$on('info', (params) => {
                this.showModal(params.header, params.text)
            });

            bus.$on('snack-info', (text) => {
                this.showSnackbar(text)
            });

            bus.$on('username', (text) => {
                this.user.name = text
            });

            bus.$on('unauthenticated', () => {
                this.logout()
            });

            this.authCheck()
            setTimeout(() => {
                document.title = this.$route.meta.name
                this.setCurrentPage(this.$route.meta.name)
            }, 2000)
        },
        watch: {
            drawer(val) {
                localStorage.setItem('drawerState', val)
            }
        },
        methods: {
            setCurrentPage(name) {
                this.currentPageLabelVisible = false
                setTimeout(() => {
                    this.currentPage = name;
                    this.currentPageLabelVisible = true
                }, 375)
            },
            authCheck() {
                this.loggedIn = false
                let currentToken = localStorage.getItem('token')
                if (currentToken === null) {
                    this.appToLogin()
                } else {
                    axios.defaults.headers['Authorization'] = 'Bearer ' + currentToken
                    this.getUserData()
                }
            },
            getUserData(){
                axios.get('/user')
                    .then((response) => {
                        this.user = response.data.user
                        this.loginToApp()
                    })
                    .catch((error) => {
                        console.log(error)
                        this.clearLoginData()
                        this.appToLogin()
                        this.showModal('Auth error', 'Please, sign in again')
                    })
            },
            clearLoginData(){
                axios.defaults.headers['Authorization'] = ''
                this.loginData = {
                    email: '',
                    password: '',
                    loading: false
                }
            },
            login(){
                this.loginData.loading = true
                axios.post('/login', {
                    email: this.loginData.email,
                    password: this.loginData.password
                })
                    .then((response) => {
                        this.user = response.data.data.user
                        this.loginData.loading = false
                        this.loginToApp()
                        axios.defaults.headers['Authorization'] = 'Bearer ' + this.user.api_token
                        localStorage.setItem('token', this.user.api_token)
                        this.$router.push('/')
                    })
                    .catch((error) => {
                        this.errors.email = ''
                        this.errors.password = ''
                        this.loginData.loading = false
                        if(error.response.data.status === 'unauthorized'){
                            this.loginData.password = ''
                            this.showSnackbar('Incorrect auth data, please, try again')
                        } else {
                            if(error.response.data.data.errors !== undefined){
                                if(error.response.data.data.errors.email !== undefined){
                                    this.errors.email = error.response.data.data.errors.email[0]
                                }
                                if(error.response.data.data.errors.password !== undefined){
                                    this.errors.password = error.response.data.data.errors.password[0]
                                }
                                if(error.response.data.data.errors.message !== undefined){
                                    bus.$emit('info', {
                                        header: 'Error',
                                        text: 'There is some errors: ' + error.response.data.data.errors.message
                                    })
                                }
                            }
                        }
                    })
            },
            logout(){
                localStorage.removeItem('token')
                this.clearLoginData()
                this.authCheck()
                document.title = 'Login'
            },
            showModal(header, text){
                this.modal.header = header
                this.modal.text = text
                this.modal.show = true
            },
            showSnackbar(text){
                this.snackbar.show = true
                this.snackbar.text = text
            },
            appToLogin(){
                this.showLogin = true
                this.loggedIn = false
            },
            loginToApp(){
                this.showLogin = false
                this.loggedIn = true
                this.$router.isAdmin = this.user.role.slug === 'admin'
                this.$router.isFullAccess = this.user.role.slug === 'admin' || 'supervisor'
                if(document.title === 'Login'){
                    document.title = 'Dashboard'
                }
            },
            reset(){
                this.resetLoading = true
                axios.post('/user/reset-password', {
                    email: this.resetEmail
                })
                    .then(() => {
                        this.stopReset()
                        this.showModal('Accepted', 'If you have entered your email correctly, you will soon receive a letter with a temporary password. We recommend changing it to a permanent one after authorization.')
                    })
                    .catch((error) => {
                        this.resetEmail = ''
                        this.showModal('Error', 'There is some errors: ' + error.response.data.data.errors.email)
                        console.log(error)
                    })
                    .finally(() => {
                        this.resetLoading = false
                    })
            },
            startReset(){
                document.title = 'Reset password'
                this.resetting = true
            },
            stopReset(){
                document.title = 'Login'
                this.resetting = false
                this.resetEmail = false
            }
        }
    }
</script>

<style scoped>
    .router-enter-active {
        transition: opacity .25s, transform .25s;
        transition-delay: .25s;
    }

    .router-leave-active {
        transition: opacity .25s, transform .25s;
    }

    .router-enter {
        position: absolute;
        right: 0;
        transform: translateY(5px);
        opacity: 0;
    }

    .router-leave-to {
        right: 0;
        transform: translateY(5px);
        opacity: 0;
    }
</style>

<style>
    .fade-enter-active {
        transition: opacity .5s;
        transition-delay: .5s;
        position: relative;
    }

    .fade-leave-active {
        position: relative;
        transition: opacity .5s;
    }

    .fade-enter {
        position: relative;
        opacity: 0;
    }

    .fade-leave-to {
        position: relative;
        opacity: 0;
    }

    .drawer-logo-wrap {
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .drawer-logo {
        width: 80px;
    }

    .drawer-title {
        font-size: 18px;
    }

    .drawer-description {
        font-size: 10px;
    }

    h3.visible {
        opacity: 1 !important;
    }

    .v-toolbar__title {
        display: flex;
    }

    .v-toolbar.v-toolbar--fixed {
        z-index: 5;
    }

    .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
        background-color: #eee
    }

    .el-table td, .el-table th.is-leaf {
        border-bottom: 1px solid #ebeef5 !important;
    }

    th .cell {
        display: flex !important;
        word-break: break-word !important;
        align-items: center;
    }

    th.is-center .cell {
        justify-content: center;
    }

    th.is-right .cell {
        justify-content: flex-end;
    }

    .blue-back{
        background-color: #1976d2 !important;
        transition: background-color .5s ease;
        transition-delay: 0.5s;
    }

    .free-back{
        background-color: #fafafa !important;
        transition: background-color .5s ease;
    }

    .user-info{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .username{
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 14px;
    }

    .role{
        margin: 0;
        font-size: 12px;
        font-weight: 300;
    }
</style>
