<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-if="!loading && loaded">
            <v-card-text>
                <deal-form v-model="form"></deal-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :disabled="Object.getOwnPropertyNames(form).length === 0 || form.name === '' || form.user_id === null"
                    :loading="updateLoading"
                    @click="update"
                    color="primary"
                >save</v-btn>
            </v-card-actions>
        </v-card>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to edit is removed or inaccessible</h3>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Deal from "../../components/forms/Deal"

    export default {
        name: "EditDeal",
        components: {
            'deal-form': Deal
        },
        data(){
            return {
                loaded: false,
                loading: true,
                updateLoading: false,
                form: {
                    id: null,
                    name: '',
                    user_id: null,
                    contact_id: null,
                    stage: 'New',
                    amount: null,
                    currency: 'USD',
                    product: '',
                    company: '',
                    date: null,
                    priority: 'Medium',
                    source: '',
                    description: '',
                }
            }
        },
        created(){
            axios.get('/deals/' + this.$route.params.id)
                .then((response) => {
                    let record = response.data.data.record
                    this.loaded = true
                    this.form = {
                        id: record.id,
                        name: record.name,
                        user_id: record.user_id,
                        contact_id: record.contact_id,
                        stage: record.stage,
                        amount: record.amount,
                        currency: record.currency,
                        product: record.product,
                        company: record.company,
                        date: record.date,
                        priority: record.priority,
                        source: record.source,
                        description: record.description,
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
                .finally(() => {
                    this.loading = false
                })
        },
        methods:{
            update(){
                this.updateLoading = true
                axios.put('/deals/' + this.form.id, {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Deal updated successfully')
                        if(response.data.data.show){
                            let created = response.data.data.updated
                            this.$router.push('/deals/view/' + created.id)
                        } else {
                            this.$router.push('/deals/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.updateLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }
</style>
