<template>
    <v-card class="elevation-1">
        <v-card-text>
            <deal-form v-model="form"></deal-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :disabled="Object.getOwnPropertyNames(form).length === 0 || form.name === '' || form.user_id === null"
                :loading="loading"
                @click="create"
                color="primary"
            >add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Deal from "../../components/forms/Deal"

    export default {
        name: "NewDeal",
        components: {
            'deal-form': Deal
        },
        data(){
            return {
                form: {
                    name: '',
                    user_id: null,
                    contact_id: null,
                    stage: 'New',
                    amount: null,
                    currency: 'USD',
                    product: '',
                    company: '',
                    date: this.getToday(),
                    priority: 'Medium',
                    source: '',
                    description: '',
                },
                loading: false,
            }
        },
        methods: {
            create(){
                this.loading = true
                axios.post('/deals/', {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Deal created successfully')
                        if(response.data.data.show){
                            let created = response.data.data.created
                            this.$router.push('/deals/view/' + created.id)
                        } else {
                            this.$router.push('/deals/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            getToday(){
                let today = new Date()
                let dd = String(today.getDate()).padStart(2, '0')
                let mm = String(today.getMonth() + 1).padStart(2, '0')
                let yyyy = today.getFullYear()
                return yyyy + '-' + mm + '-' + dd
            }
        }
    }
</script>

<style scoped>

</style>
