<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-if="!loading && loaded">
            <v-card-text>
                <v-layout>
                    <v-flex xs12>
                        <h3>Deal stage</h3>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-rating
                            v-model="stage"
                            length="10"
                            readonly
                        >
                            <template v-slot:item="props">
                                <v-btn
                                    color="blue darken-2"
                                    flat
                                    :outline="props.isFilled"
                                    :disabled="stageLoading"
                                    :class="{
                                        'button-disabled': stage > props.index + 1
                                    }"
                                    @click="stage = props.index + 1; setStage(stages[stage - 1])"
                                >
                                    {{ stages[props.index] }}
                                </v-btn>
                            </template>
                        </v-rating>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Name:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.name }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Product:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.product }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Company:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.company }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Deal source:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.source }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Deal date:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.date }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                    <v-flex xs6>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Owner:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.owner.name }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Contact:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end inline-items">
                                    {{ record.contact !== null ? record.contact.first_name + ' ' + (record.contact.first_name || '') : '-' }}
                                    <router-link v-if="record.contact !== null" :to="'/contacts/view/' + record.contact.id">
                                        <v-icon small>open_in_new</v-icon>
                                    </router-link>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Amount:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.amount }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Currency:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.currency }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Priority:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.priority }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
                <div class="description">
                    <h3>Description</h3>
                    <p>{{ record.description !== null ? record.description : '-' }}</p>
                </div>
            </v-card-text>
        </v-card>
        <v-card v-if="!loading" class="mt-2 mb-5">
            <v-card-title class="headline">Related Tasks</v-card-title>
            <v-card-text>
                <v-data-table
                    :headers="tasksHeaders"
                    :items="tasks"
                    :loading="tasksLoading"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                        <td>{{ props.item.subject }}</td>
                        <td>{{ props.item.status }}</td>
                        <td>{{ props.item.priority }}</td>
                        <td>{{ props.item.due_date }}</td>
                        <td class="justify-end layout px-0">
                            <v-tooltip top>
                                <v-btn
                                    slot="activator"
                                    @click="$router.push('/tasks/view/' + props.item.id)"
                                    small
                                    fab
                                    flat
                                    color="primary"
                                >
                                    <v-icon>remove_red_eye</v-icon>
                                </v-btn>
                                <span>View</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to view is removed or inaccessible</h3>
        </div>
        <v-scale-transition>
            <v-btn
                fab
                dark
                fixed
                right
                bottom
                color="primary"
                v-if="loaded && !loading && floating"
                :to="'/deals/edit/' + $route.params.id"
            >
                <v-icon>edit</v-icon>
            </v-btn>
        </v-scale-transition>
    </div>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"

    export default {
        name: "ViewDeal",
        data(){
            return {
                loaded: false,
                loading: true,
                stageLoading: false,
                floating: false,
                record: {},
                stage: 1,
                stages: [
                    'New',
                    'First Contact',
                    'Demo/Presentation',
                    'Needs Analysis',
                    'Proposal/Price Quote',
                    'Negotiation/Review',
                    'Contract',
                    'Execution',
                    'Closed Won',
                    'Closed Lost',
                ],

                tasksHeaders: [
                    {
                        text: 'Subject',
                        value: 'subject'
                    },
                    {
                        text: 'Status',
                        value: 'status'
                    },
                    {
                        text: 'Priority',
                        value: 'priority'
                    },
                    {
                        text: 'Due date',
                        value: 'due_date'
                    },
                    {
                        text: 'Actions',
                        value: 'name',
                        align: 'right',
                        sortable: false
                    }
                ],
                tasks: [],
                tasksLoading: false,
            }
        },
        created(){
            this.get()
            this.getRelatedTasks()
        },
        methods: {
            get(){
                this.loading = true
                this.floating = false
                axios.get('/deals/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.record = response.data.data.record
                        this.stage = this.stages.indexOf(this.record.stage) + 1
                        setTimeout(() => {
                            this.floating = true
                        }, 500)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            setStage(stage){
                this.stageLoading = true
                axios.post('/deals/stage/' + this.$route.params.id, {
                    stage: stage
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Stage successfully changed to ' + stage)
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something went wrong...')
                    })
                    .finally(() => {
                        this.stageLoading = false
                    })
            },
            getRelatedTasks(){
                this.tasksLoading = true
                axios.get('/related/tasks/deal/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.tasks = response.data.data.tasks
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.tasksLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .button-disabled{
        color: rgba(0,0,0,.26)!important;
    }

    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }

    .description{
        margin-top: 12px;
        padding: 0 16px;
    }

    .description h3{
        margin-bottom: 12px;
    }

    .inline-items{
        display: flex;
        flex-direction: row !important;
        justify-content: flex-end;
        align-items: center;
    }
</style>
