<template>
    <div>
        <v-card class="elevation-1">
            <v-card-title class="headline">
                Change name
            </v-card-title>
            <v-card-text>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field
                            label="New name"
                            v-model="name"
                            :error="name === ''"
                            readonly
                            onfocus="this.removeAttribute('readonly');"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    @click="changeName"
                    :loading="loading"
                    :disabled="name === ''"
                >
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
        <v-card class="elevation-1 mt-2">
            <v-card-title class="headline">
                Change password
            </v-card-title>
            <v-card-text>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field
                            label="Current password"
                            type="password"
                            v-model="password.oldPass"
                            :error="password.oldPass === '' || password.oldPass !== password.oldPassConfirm"
                            @keydown="$event.keyCode === 32 ? $event.preventDefault() : false"
                        ></v-text-field>
                        <v-text-field
                            label="Repeat current password"
                            type="password"
                            v-model="password.oldPassConfirm"
                            :error="password.oldPassConfirm === '' || password.oldPass !== password.oldPassConfirm"
                            :error-messages="password.oldPass !== password.oldPassConfirm ? ['Old password doesn\'t match old password confirm'] : []"
                            @keydown="$event.keyCode === 32 ? $event.preventDefault() : false"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6 class="ml-2">
                        <v-text-field
                            label="New password"
                            type="password"
                            v-model="password.newPass"
                            :error-messages="password.newPass.length < 6 ? ['New password must be at least 6 characters long'] : []"
                            @keydown="$event.keyCode === 32 ? $event.preventDefault() : false"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    @click="changePassword"
                    :loading="password.loading"
                    :disabled="password.oldPass === '' || password.oldPass !== password.oldPassConfirm || password.newPass.length < 6"
                >
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import {bus} from "../services/bus"
    import axios from 'axios'

    export default {
        name: "AccountSettings",
        data(){
            return {
                password: {
                    oldPass: '',
                    oldPassConfirm: '',
                    newPass: '',
                    loading: false
                },
                name: '',
                loading: false,
            }
        },
        methods:{
            changePassword(){
                if(this.password.oldPass === '' || this.password.oldPass !== this.password.oldPassConfirm){
                    bus.$emit('info', {
                        header: 'Error',
                        text: 'Old password doesn\'t match old password confirm'
                    })
                    return
                }

                if(this.password.newPass.length < 6){
                    bus.$emit('info', {
                        header: 'Error',
                        text: 'Old password doesn\'t match old password confirm'
                    })
                }

                this.password.loading = true
                axios.post('/user/change-password', {
                    passwords:{
                        password: this.password.oldPass,
                        passwordConfirm: this.password.oldPassConfirm,
                        passwordNew: this.password.newPass,
                    }
                })
                    .then(() => {
                        bus.$emit('snack-info', 'Password updated successfully')
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.password.loading = false
                        this.clearPasswords()
                    })
            },
            clearPasswords(){
                this.password.newPass = ''
                this.password.oldPass = ''
                this.password.oldPassConfirm = ''
            },
            changeName(){
                this.loading = true
                axios.post('/user/change-name', {
                    name: this.name
                })
                    .then(() => {
                        bus.$emit('snack-info', 'Name updated successfully')
                        bus.$emit('username', this.name);
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something went wrong when trying to change your name, try again...')
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        },
        watch:{
            'password.oldPass':{
                handler(val){
                    this.password.oldPass = val.split(' ').join('')
                }
            }
        }
    }
</script>

<style scoped>

</style>
