<template>
    <div>
        <div class="loader" v-if="!show">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-else>
            <v-card-text>
                <v-tabs
                    v-model="activeTab"
                    centered
                >
                    <v-tab
                        :key="0"
                        ripple
                    >
                        Webhooks Management
                    </v-tab>
                    <v-tab
                        :key="1"
                        ripple
                    >
                        User Management
                    </v-tab>
                    <v-tab-item
                        :key="0"
                        class="tab-item"
                    >
                        <webhook-manager></webhook-manager>
                    </v-tab-item>
                    <v-tab-item
                        :key="1"
                        class="tab-item"
                    >
                        <user-manager></user-manager>
                    </v-tab-item>
                </v-tabs>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import WebhookManager from "../components/WebhookManager"
    import UserManager from "../components/UserManager"

    export default {
        name: "AdminSettings",
        components: {
            'webhook-manager': WebhookManager,
            'user-manager': UserManager,
        },
        data(){
            return {
                activeTab: null,
                show: false,
            }
        },
        mounted(){
            setTimeout(() => {
                this.show = true
            }, 50)
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }
</style>
