<template>
    <div>
        <div class="title-container">
            <h1>Welcome to Free-CRM</h1>
            <p>Place to organize and improve quality of your business</p>
        </div>
        <v-container fluid grid-list-md class="pa-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <chart></chart>
                </v-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title class="dash-title">Recent Leads</v-card-title>
                        <v-card-text>
                            <v-data-table
                                :headers="headersLeads"
                                :items="leads"
                                :loading="leadsLoading"
                                disable-initial-sort
                                hide-actions
                                class="elevation-0"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <router-link :to="'leads/view/' + props.item.id">
                                            {{ props.item.first_name + ' ' + (props.item.last_name || '') }}
                                        </router-link>
                                    </td>
                                    <td>{{ props.item.email }}</td>
                                    <td>{{ props.item.created_at }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title class="dash-title">Recent Contacts</v-card-title>
                        <v-card-text>
                            <v-data-table
                                :headers="headersContacts"
                                :items="contacts"
                                :loading="contactsLoading"
                                disable-initial-sort
                                hide-actions
                                class="elevation-0"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <router-link :to="'contacts/view/' + props.item.id">
                                            {{ props.item.first_name + ' ' + (props.item.last_name || '') }}
                                        </router-link>
                                    </td>
                                    <td>{{ props.item.email }}</td>
                                    <td>{{ props.item.created_at }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title class="dash-title">Recent Deals</v-card-title>
                        <v-card-text>
                            <v-data-table
                                :headers="headersDeals"
                                :items="deals"
                                :loading="dealsLoading"
                                disable-initial-sort
                                hide-actions
                                class="elevation-0"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <router-link :to="'deals/view/' + props.item.id">
                                            {{ props.item.name }}
                                        </router-link>
                                    </td>
                                    <td>{{ props.item.stage }}</td>
                                    <td>{{ props.item.created_at }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title class="dash-title">Recent Tasks</v-card-title>
                        <v-card-text>
                            <v-data-table
                                :headers="headersTasks"
                                :items="tasks"
                                :loading="tasksLoading"
                                disable-initial-sort
                                hide-actions
                                class="elevation-0"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <router-link :to="'tasks/view/' + props.item.id">
                                            {{ props.item.subject }}
                                        </router-link>
                                    </td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ props.item.created_at }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    import Chart from '../components/Chart'

    export default {
        name: "Dashboard",
        components: {
            Chart,
        },
        data(){
            return {
                headersLeads: [
                    {
                        text: 'Name',
                        value: 'first_name'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                ],
                headersContacts: [
                    {
                        text: 'Name',
                        value: 'first_name'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                ],
                headersDeals: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Stage',
                        value: 'stage'
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                ],
                headersTasks: [
                    {
                        text: 'Subject',
                        value: 'subject'
                    },
                    {
                        text: 'Status',
                        value: 'status'
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                ],

                leadsLoading: false,
                contactsLoading: false,
                dealsLoading: false,
                tasksLoading: false,

                leads: [],
                contacts: [],
                deals: [],
                tasks: [],
            }
        },
        created(){
            let needsToLoad = [
                'leads',
                'contacts',
                'deals',
                'tasks',
            ]
            for (let module of needsToLoad) {
                this.load(module)
            }
        },
        methods: {
            load(module){
                let loader = module + 'Loading'
                this[loader] = true
                axios.get('/recent/' + module)
                    .then((response) => {
                        this[module] = response.data.data.records
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this[loader] = false
                    })
            }
        }
    }
</script>

<style scoped>
    .title-container{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dash-title{
        padding-bottom: 0;
        font-weight: 500;
        font-size: 16px;
    }
</style>
