<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-if="!loading && loaded">
            <v-card-text>
                <lead-form v-model="form"></lead-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :disabled="Object.getOwnPropertyNames(form).length === 0 || form.first_name === ''"
                    :loading="updateLoading"
                    @click="update"
                    color="primary"
                >save</v-btn>
            </v-card-actions>
        </v-card>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to edit is removed or inaccessible</h3>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Lead from "../../components/forms/Lead"

    export default {
        name: "EditContact",
        components: {
            'lead-form': Lead
        },
        data(){
            return {
                loaded: false,
                loading: true,
                updateLoading: false,
                form: {
                    id: null,
                    first_name: '',
                    user_id: null,
                    last_name: '',
                    email: '',
                    other_email: '',
                    phone: '',
                    mobile: '',
                    skype: '',
                    website: '',
                    lead_source: '',

                    street: '',
                    city: '',
                    state: '',
                    zip: '',
                    country: '',
                    description: '',

                    utm_campaign: '',
                    utm_medium: '',
                    utm_term: '',
                    utm_content: '',
                    utm_source: '',
                    gclid: '',
                }
            }
        },
        created(){
            axios.get('/leads/' + this.$route.params.id)
                .then((response) => {
                    let record = response.data.data.record
                    this.loaded = true
                    this.form = {
                        id: record.id,
                        first_name: record.first_name,
                        user_id: record.user_id,
                        last_name: record.last_name,
                        email: record.email,
                        other_email: record.other_email,
                        phone: record.phone,
                        mobile: record.mobile,
                        skype: record.skype,
                        website: record.website,
                        lead_source: record.lead_source,

                        street: record.street,
                        city: record.city,
                        state: record.state,
                        zip: record.zip,
                        country: record.country,
                        description: record.description,

                        utm_campaign: record.utm_campaign,
                        utm_medium: record.utm_medium,
                        utm_term: record.utm_term,
                        utm_content: record.utm_content,
                        utm_source: record.utm_source,
                        gclid: record.gclid,
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
                .finally(() => {
                    this.loading = false
                })
        },
        methods:{
            update(){
                this.updateLoading = true
                axios.put('/leads/' + this.form.id, {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Lead updated successfully')
                        if(response.data.data.show){
                            let created = response.data.data.updated
                            this.$router.push('/leads/view/' + created.id)
                        } else {
                            this.$router.push('/leads/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.updateLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }
</style>
