<template>
    <v-card class="elevation-1">
        <v-card-text>
            <lead-form v-model="form"></lead-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :disabled="Object.getOwnPropertyNames(form).length === 0 || form.first_name === '' || form.user_id === null"
                :loading="loading"
                @click="create"
                color="primary"
            >add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Lead from "../../components/forms/Lead"

    export default {
        name: "NewLead",
        components: {
            'lead-form': Lead
        },
        data(){
            return {
                form: {
                    first_name: '',
                    user_id: null,
                    last_name: '',
                    email: '',
                    other_email: '',
                    phone: '',
                    mobile: '',
                    skype: '',
                    website: '',
                    lead_source: '',

                    street: '',
                    city: '',
                    state: '',
                    zip: '',
                    country: '',
                    description: '',

                    utm_campaign: '',
                    utm_medium: '',
                    utm_term: '',
                    utm_content: '',
                    utm_source: '',
                    gclid: '',
                },
                loading: false,
            }
        },
        methods: {
            create(){
                this.loading = true
                axios.post('/leads/', {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Lead created successfully')
                        if(response.data.data.show){
                            let created = response.data.data.created
                            this.$router.push('/leads/view/' + created.id)
                        } else {
                            this.$router.push('/leads/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        }
    }
</script>

<style scoped>

</style>
