<template>
    <v-card>
        <v-card-title class="dash-title">Revenue Chart</v-card-title>
        <v-card-text>
            <canvas id="chart"></canvas>
        </v-card-text>
        <v-card-actions>
            <v-layout row align-content-center justify-end>
                <v-flex offset-md-9 xs12 md3 row>
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <p class="ma-0 mr-3" style="font-size: 22px">Scale:</p>
                        <v-select
                            v-model="chartSelect"
                            :items="chartSelectItems"
                        ></v-select>
                    </div>
                </v-flex>
            </v-layout>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {summaryData} from '../data/summary-chart'
    import {charts} from "../mixins/chart";

    export default {
        mixins: [charts],
        name: "Chart",
        props: {
            monthQ: {
                type: Number,
                default: 100,
            },
            yearQ: {
                type: Number,
                default: 1200,
            },
            threshold: {
                type: Number,
                default: 50,
            }
        },
        data() {
            return {
                summaryData: summaryData,
                chartSelect: 'Month',
                chartSelectItems: ['Month', 'Year'],
                chart: null,
            }
        },
        mounted() {
            this.chart = this.createChart('chart', this.summaryData(this.monthQ, 'month', this.threshold));
        },
        watch: {
            chartSelect(val) {
                this.chart.destroy();
                if (val === 'Month') {
                    this.chart = this.createChart('chart', this.summaryData(this.monthQ, val.toLowerCase(), this.threshold));
                } else {
                    this.chart = this.createChart('chart', this.summaryData(this.yearQ, val.toLowerCase(), this.threshold));
                }
            },
        },
    }
</script>

<style scoped>

</style>
