<template>
    <div class="wrap">
        <v-progress-circular
            :size="50"
            :width="5"
            color="primary"
            indeterminate
            class="mb-2"
        ></v-progress-circular>
        <p>Loading...</p>
    </div>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style scoped>
    .wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 80vh;
        height: 100%;
        z-index: 10;
        background-color: #fafafa;
    }

    .wrap p{
        font-weight: 500;
    }
</style>
