<template>
    <div>
        <v-layout>
            <v-flex xs12>
                <v-data-table
                    :headers="headers"
                    :items="users"
                    :loading="loading"
                    class="elevation-0"
                >
                    <template v-slot:items="props">
                        <td>{{ props.item.name }}</td>
                        <td class="activation-left">
                            {{ props.item.role.label }}
                            <v-tooltip top v-if="props.item.active === 1">
                                <v-btn
                                    slot="activator"
                                    @click="startChange(props.item)"
                                    small
                                    fab
                                    flat
                                    :disabled="props.item.id === 1"
                                    color="primary"
                                >
                                    <v-icon>cached</v-icon>
                                </v-btn>
                                <span>Change role</span>
                            </v-tooltip>
                        </td>
                        <td>{{ props.item.email }}</td>
                        <td class="justify-end layout activation">
                            <p :style="props.item.active === 0 ? 'color: #d32f2f !important' : 'color: #1976d2 !important'">{{ props.item.active === 0 ? 'Deactivated' : 'Active' }}</p>
                            <v-tooltip top v-if="props.item.active === 1">
                                <v-btn
                                    slot="activator"
                                    @click="deactivate(props.item)"
                                    small
                                    fab
                                    flat
                                    :disabled="props.item.id === 1"
                                    color="error"
                                >
                                    <v-icon>person_add_disabled</v-icon>
                                </v-btn>
                                <span>Deactivate</span>
                            </v-tooltip>
                            <v-tooltip top v-else>
                                <v-btn
                                    slot="activator"
                                    @click="activate(props.item)"
                                    small
                                    fab
                                    flat
                                    :disabled="props.item.id === 1"
                                    color="primary"
                                >
                                    <v-icon>person_add</v-icon>
                                </v-btn>
                                <span>Activate</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn
                color="primary"
                @click="startCreate"
            >
                Invite new
            </v-btn>
        </v-layout>
        <v-dialog
            v-model="creating"
            max-width="600"
            persistent
        >
            <v-card>
                <v-card-title class="headline primary" style="color: white">
                    Invite new user
                </v-card-title>
                <v-card-text>
                    <v-text-field
                        label="Name"
                        v-model="newUser.name"
                        :error="newUser.name === ''"
                        :error-messages="newUser.name === '' ? ['Name is required'] : []"
                    ></v-text-field>
                    <v-text-field
                        label="Email"
                        v-model="newUser.email"
                        :error="newUser.email === ''"
                        :error-messages="newUser.email === '' ? ['Email is required'] : []"
                        @keydown="$event.keyCode === 32 ? $event.preventDefault() : false"
                    ></v-text-field>
                    <v-select
                        :items="roles"
                        v-model="newUser.role_id"
                        label="Role"
                        prepend-icon="supervised_user_circle"
                        item-text="label"
                        item-value="id"
                    ></v-select>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        @click="clear"
                        :disabled="createLoading"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        dark
                        color="primary"
                        @click="invite"
                        :loading="createLoading"
                    >
                        Invite
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="changingRole"
            max-width="600"
            persistent
        >
            <v-card>
                <v-card-title class="headline primary" style="color: white">
                    Change user role
                </v-card-title>
                <v-card-text>
                    <v-select
                        :items="roles"
                        v-model="changeToRole"
                        label="Role"
                        prepend-icon="supervised_user_circle"
                        item-text="label"
                        item-value="id"
                    ></v-select>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        @click="clearChange"
                        :disabled="changingLoading"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        dark
                        color="primary"
                        @click="changeRole"
                        :loading="changingLoading"
                    >
                        Change
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {bus} from "../services/bus"
    import axios from 'axios'

    export default {
        name: "UserManager",
        data(){
            return {
                loading: false,
                creating: false,
                changingRole: false,
                changingUser: null,
                changeToRole: 3,
                createLoading: false,
                changingLoading: false,
                users: [],
                headers: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Role',
                        value: 'role_id'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Activation status',
                        value: 'name',
                        align: 'right',
                        sortable: false
                    }
                ],

                roles: [],
                newUser: {
                    name: '',
                    email: '',
                    role_id: 2,
                },

                deleteDialog: {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                },
            }
        },
        created(){
            this.getRoles()
            this.get()
        },
        methods:{
            getRoles(){
                axios.get('/admin/roles/')
                    .then((response) => {
                        this.roles = response.data.data.roles
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            clear(){
                this.newUser = {
                    name: '',
                    email: '',
                    role_id: 2,
                }
                this.creating = false
            },
            invite(){
                this.createLoading = true
                axios.post('/admin/users/invite', {
                    user: this.newUser
                })
                    .then((response) => {
                        bus.$emit('info', {
                            header: 'Success',
                            text: 'User invited successfully. Email with credentials will be delivered shortly.'
                        })
                        this.clear()
                        this.get()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.createLoading = false
                    })
            },
            get(){
                this.loading = true
                axios.get('/admin/users/')
                    .then((response) => {
                        this.users = response.data.data.users
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            startCreate(){
                this.clear()
                this.creating = true
            },
            deactivate(user){
                axios.get('/admin/users/deactivate/' + user.id)
                    .then((response) => {
                        this.get()
                        bus.$emit('snack-info', 'User activation status has been changed successfully.');
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to change user activation status, please, try again...');
                        this.get()
                    })
            },
            activate(user){
                axios.get('/admin/users/activate/' + user.id)
                    .then((response) => {
                        this.get()
                        bus.$emit('snack-info', 'User activation status has been changed successfully.');
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to change user activation status, please, try again...');
                        this.get()
                    })
            },
            changeRole(){
                this.changingLoading = true
                axios.get('/admin/users/role/' + this.changingUser.id + '/' + this.changeToRole)
                    .then((response) => {
                        this.get()
                        bus.$emit('snack-info', 'User role has been changed successfully.');
                        this.clearChange()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to change user role, please, try again...');
                        this.get()
                        this.clearChange()
                    })
                    .finally(() => {
                        this.changingLoading = false
                    })
            },
            startChange(user){
                this.changingUser = user
                this.changeToRole = user.role_id
                this.changingRole = true
            },
            clearChange(){
                this.changingRole = false
                this.changeToRole = 2
                this.changingUser = null
            }
        }
    }
</script>

<style scoped>
    .activation{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }

    .activation-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: unset;
    }

    .activation p, .activation-left p{
        margin: 0;
    }
</style>
