<template>
    <div>
        <v-layout>
            <v-flex xs12>
                <v-data-table
                    :headers="headers"
                    :items="webhooks"
                    :loading="loading"
                    class="elevation-0"
                >
                    <template v-slot:items="props">
                        <td>{{ props.item.module }}</td>
                        <td>{{ props.item.action }}</td>
                        <td>{{ props.item.url }}</td>
                        <td class="justify-end layout px-0">
                            <v-tooltip top>
                                <v-btn
                                    slot="activator"
                                    @click="startEdit(props.item)"
                                    small
                                    fab
                                    flat
                                    color="primary"
                                >
                                    <v-icon>edit</v-icon>
                                </v-btn>
                                <span>Edit</span>
                            </v-tooltip>
                            <v-tooltip top>
                                <v-btn
                                    slot="activator"
                                    @click="promtDelete(props.item)"
                                    small
                                    fab
                                    flat
                                    color="red darken-2"
                                >
                                    <v-icon>delete</v-icon>
                                </v-btn>
                                <span>Delete</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-layout justify-end>
            <v-btn
                color="primary"
                @click="startCreate"
            >
                Create new
            </v-btn>
        </v-layout>
        <v-dialog
            v-model="dialog"
            max-width="600"
            persistent
        >
            <v-card>
                <v-card-title class="headline primary" style="color: white">
                    Create new webhook
                </v-card-title>
                <v-card-text>
                    <v-select
                        :items="modules"
                        v-model="webhook.module"
                        label="Related Module"
                        prepend-icon="view_module"
                    ></v-select>
                    <v-select
                        :items="actions"
                        v-model="webhook.action"
                        label="Action"
                        prepend-icon="loop"
                    ></v-select>
                    <v-text-field
                        label="Url"
                        v-model="webhook.url"
                        :error="!webhook.urlValid"
                        :error-messages="!webhook.urlValid ? ['This must be valid url'] : []"
                        @input="validUrl"
                        @keydown="$event.keyCode === 32 ? $event.preventDefault() : false"
                        prepend-icon="link"
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        @click="clearData"
                        :disabled="webhook.loading"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        dark
                        color="primary"
                        @click="saveWebhook"
                        :loading="webhook.loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="deleteDialog.show" persistent max-width="400">
            <v-card>
                <v-card-title class="headline primary" style="color: white">Action confirmation</v-card-title>
                <v-card-text>Are you sure want to delete webhook to "{{ deleteDialog.name }}"?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="deleteWebhook(deleteDialog.id)" color="primary" :loading="deleteDialog.loading">Yes</v-btn>
                    <v-btn @click="deleteDialog.show = false" :disabled="deleteDialog.loading">No</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {bus} from "../services/bus"
    import axios from 'axios'

    export default {
        name: "WebhookManager",
        data(){
            return {
                loading: false,
                webhooks: [],
                headers: [
                    {
                        text: 'Module',
                        value: 'module'
                    },
                    {
                        text: 'Action',
                        value: 'action'
                    },
                    {
                        text: 'Url',
                        value: 'url'
                    },
                    {
                        text: 'Actions',
                        value: 'module',
                        align: 'right',
                        sortable: false
                    }
                ],

                webhook: {
                    id: null,
                    loading: false,
                    module: 'Leads',
                    action: 'Created',
                    url: '',
                    urlValid: false
                },
                modules: [
                    'Leads',
                    'Contacts',
                    'Deals',
                    'Tasks',
                ],
                actions: [
                    'Created',
                    'Updated',
                    'Deleted',
                ],
                creating: false,
                updating: false,

                deleteDialog: {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                },
            }
        },
        computed:{
            dialog(){
                return this.creating || this.updating
            }
        },
        created(){
            this.get()
        },
        methods:{
            get(){
                this.loading = true
                axios.get('/admin/webhooks/')
                    .then((response) => {
                        this.webhooks = response.data.records.data
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            startCreate(){
                this.clearData()
                this.creating = true
            },
            startEdit(item){
                this.clearData()
                this.webhook.id = item.id
                this.webhook.module = item.module
                this.webhook.action = item.action
                this.webhook.url = item.url
                this.webhook.urlValid = true
                this.updating = true
            },
            clearData(){
                this.webhook = {
                    id: null,
                    loading: false,
                    module: 'Leads',
                    action: 'Created',
                    url: '',
                    urlValid: false
                }
                this.creating = false
                this.updating = false
            },
            saveWebhook(){
                this.webhook.loading = true
                let url = this.creating ? '/admin/webhooks/' : '/admin/webhooks/' + this.webhook.id
                let method = this.creating ? 'post' : 'put'
                let data = {
                    module: this.webhook.module,
                    action: this.webhook.action,
                    url: this.webhook.url,
                }
                if(this.updating){
                    data.id = this.webhook.id
                }
                axios[method](url, {
                    data: data
                })
                    .then(() => {
                        if(this.creating){
                            bus.$emit('snack-info', 'Webhook created successfully')
                        } else {
                            bus.$emit('snack-info', 'Webhook updated successfully')
                        }
                        this.clearData()
                        this.get()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.webhook.loading = false
                    })
            },
            validUrl() {
                let pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i') // fragment locator
                this.webhook.urlValid = !!pattern.test(this.webhook.url)
            },
            promtDelete(webhook){
                this.deleteDialog = {
                    show: true,
                    id: webhook.id,
                    name: webhook.url,
                    loading: false,
                }
            },
            deleteWebhook(id){
                this.deleteDialog.loading = true
                axios.delete('/admin/webhooks/' + id)
                    .then((response) => {
                        this.clearDeleteDialog()
                        this.get()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to delete webhook to "' + this.deleteDialog.name + '", please, try again...');
                        this.clearDeleteDialog()
                    })
                    .finally(() => {
                        this.deleteDialog.loading = false
                    })
            },
            clearDeleteDialog(){
                this.deleteDialog = {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                }
            },
        }
    }
</script>

<style scoped>

</style>
