<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-if="!loading && loaded">
            <v-card-text>
                <task-form v-model="form"></task-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :disabled="Object.getOwnPropertyNames(form).length === 0 || form.subject === '' || form.user_id === null"
                    :loading="updateLoading"
                    @click="update"
                    color="primary"
                >save</v-btn>
            </v-card-actions>
        </v-card>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to edit is removed or inaccessible</h3>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Task from "../../components/forms/Task"

    export default {
        name: "EditTask",
        components: {
            'task-form': Task
        },
        data(){
            return {
                loaded: false,
                loading: true,
                updateLoading: false,
                form: {
                    subject: '',
                    user_id: null,
                    related_module: null,
                    related_id: null,
                    status: 'New',
                    priority: 'Medium',
                    description: '',
                    closed_time: null,
                    due_date: null,
                    notification_time: null,
                    notified: false,
                }
            }
        },
        created(){
            axios.get('/tasks/' + this.$route.params.id)
                .then((response) => {
                    let record = response.data.data.record
                    this.loaded = true
                    this.form = {
                        id: record.id,
                        subject: record.subject,//
                        user_id: record.user_id,//
                        related_module: record.related_module,//
                        related_id: record.related_id,//
                        status: record.status,//
                        priority: record.priority,//
                        description: record.description,//
                        closed_time: record.closed_time,//
                        due_date: record.due_date,//
                        notification_time: record.notification_time,//
                        notified: Boolean(record.notified),
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
                .finally(() => {
                    this.loading = false
                })
        },
        methods:{
            update(){
                this.updateLoading = true
                axios.put('/tasks/' + this.form.id, {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Task updated successfully')
                        if(response.data.data.show){
                            let created = response.data.data.updated
                            this.$router.push('/tasks/view/' + created.id)
                        } else {
                            this.$router.push('/tasks/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.updateLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }
</style>
