<template>
    <v-card class="elevation-1">
        <v-card-text>
            <task-form v-model="form"></task-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :disabled="Object.getOwnPropertyNames(form).length === 0 || form.subject === '' || form.user_id === null"
                :loading="loading"
                @click="create"
                color="primary"
            >add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import {bus} from "../../services/bus"
    import Task from "../../components/forms/Task"

    export default {
        name: "NewTask",
        components: {
            'task-form': Task
        },
        data(){
            return {
                form: {
                    subject: '',
                    user_id: null,
                    related_module: null,
                    related_id: null,
                    status: 'New',
                    priority: 'Medium',
                    description: '',
                    closed_time: null,
                    due_date: this.getToday(),
                    notification_time: null,
                },
                loading: false,
            }
        },
        methods: {
            create(){
                this.loading = true
                axios.post('/tasks/', {
                    data: this.form
                })
                    .then((response) => {
                        bus.$emit('snack-info', 'Task created successfully')
                        if(response.data.data.show){
                            let created = response.data.data.created
                            this.$router.push('/tasks/view/' + created.id)
                        } else {
                            this.$router.push('/tasks/')
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('info', {
                            header: 'Error',
                            text: 'There is some errors: ' + error.response.data.data.errors
                        })
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            getToday(){
                let today = new Date()
                let dd = String(today.getDate()).padStart(2, '0')
                let mm = String(today.getMonth() + 1).padStart(2, '0')
                let yyyy = today.getFullYear()
                return yyyy + '-' + mm + '-' + dd
            }
        }
    }
</script>

<style scoped>

</style>
