<template>
    <v-container fluid>
        <v-text-field
            v-model="search"
            label="Search"
        ></v-text-field>
        <v-data-table
            :headers="headers"
            :items="tasks"
            :pagination.sync="pagination"
            :loading="loading"
            :total-items="totalCount"
            :rows-per-page-items="[10]"
            class="elevation-1 mb-5"
        >
            <template v-slot:items="props">
                <td>{{ props.item.subject }}</td>
                <td>{{ props.item.status }}</td>
                <td>{{ props.item.priority }}</td>
                <td>
                    <template v-if="props.item.related_module !== null">
                        {{ props.item.related_module }}
                        <router-link v-if="props.item.related_id !== null" :to="'/' + props.item.related_module.toLowerCase() + 's/view/' + props.item.related_id">
                            <v-icon small>open_in_new</v-icon>
                        </router-link>
                    </template>
                    <template v-else>
                        -
                    </template>
                </td>
                <td>{{ props.item.due_date }}</td>
                <td>{{ props.item.notification_time }}</td>
                <td>{{ props.item.owner.name }}</td>
                <td>{{ props.item.created_at }}</td>
                <td class="justify-end layout px-0">
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="$router.push('/tasks/view/' + props.item.id)"
                            small
                            fab
                            flat
                            color="primary"
                        >
                            <v-icon>remove_red_eye</v-icon>
                        </v-btn>
                        <span>View</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="$router.push('/tasks/edit/' + props.item.id)"
                            small
                            fab
                            flat
                            color="primary"
                        >
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <span>Edit</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="promtDelete(props.item)"
                            small
                            fab
                            flat
                            color="red darken-2"
                        >
                            <v-icon>delete</v-icon>
                        </v-btn>
                        <span>Delete</span>
                    </v-tooltip>
                </td>
            </template>
        </v-data-table>
        <v-dialog v-model="deleteDialog.show" persistent max-width="400">
            <v-card>
                <v-card-title class="headline primary" style="color: white">Action confirmation</v-card-title>
                <v-card-text>Are you sure want to delete task "{{ deleteDialog.name }}"?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="deleteRecord(deleteDialog.id)" color="primary" :loading="deleteDialog.loading">Yes</v-btn>
                    <v-btn @click="deleteDialog.show = false" :disabled="deleteDialog.loading">No</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-scale-transition>
            <v-speed-dial
                v-if="!loading"
                v-model="fab"
                direction="top"
                fixed
                bottom
                right
                transition="slide-y-reverse-transition"
            >
                <template v-slot:activator>
                    <v-tooltip left fixed>
                        <v-btn
                            v-model="fab"
                            color="blue darken-2"
                            dark
                            fab
                            slot="activator"
                        >
                            <v-icon>edit</v-icon>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <span>Actions</span>
                    </v-tooltip>
                </template>
                <v-tooltip left fixed>
                    <v-btn
                        fab
                        dark
                        small
                        color="green darken-2"
                        slot="activator"
                        to="tasks/new"
                    >
                        <v-icon>add</v-icon>
                    </v-btn>
                    <span>Add new task</span>
                </v-tooltip>
                <v-tooltip left fixed>
                    <v-btn
                        fab
                        dark
                        small
                        color="primary"
                        slot="activator"
                        @click="get"
                    >
                        <v-icon>refresh</v-icon>
                    </v-btn>
                    <span>Refresh list</span>
                </v-tooltip>
            </v-speed-dial>
        </v-scale-transition>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import {serialize, buildFilters} from '../../plugins/helpers'
    import {bus} from "../../services/bus"

    export default {
        name: "Contacts",
        data(){
            return {
                tasks: [],
                headers: [
                    {
                        text: 'Subject',
                        value: 'subject'
                    },
                    {
                        text: 'Status',
                        value: 'status'
                    },
                    {
                        text: 'Priority',
                        value: 'priority'
                    },
                    {
                        text: 'Related to',
                        value: 'subject',
                        sortable: false
                    },
                    {
                        text: 'Due date',
                        value: 'due_date'
                    },
                    {
                        text: 'Notification time',
                        value: 'notification_time'
                    },
                    {
                        text: 'Owner',
                        value: 'subject',
                        sortable: false
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                    {
                        text: 'Actions',
                        value: 'first_name',
                        align: 'right',
                        sortable: false
                    }
                ],
                pagination: {},
                search: '',
                searchTimeout: null,
                totalCount: 0,
                loading: false,
                deleteDialog: {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                },
                fab: false
            };
        },
        methods: {
            get(){
                this.fab = false
                this.loading = true
                axios.get('/tasks?' + serialize(buildFilters(this.pagination, this.search)))
                    .then((response) => {
                        this.tasks = response.data.records.data
                        this.totalCount = response.data.records.total
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            promtDelete(task){
                this.deleteDialog = {
                    show: true,
                    id: task.id,
                    name: task.subject,
                    loading: false,
                }
            },
            deleteRecord(id){
                this.deleteDialog.loading = true
                axios.delete('/tasks/' + id)
                    .then((response) => {
                        this.clearDeleteDialog()
                        this.get()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to delete task "' + this.deleteDialog.name + '", please, try again...');
                        this.clearDeleteDialog()
                    })
                    .finally(() => {
                        this.deleteDialog.loading = false
                    })
            },
            clearDeleteDialog(){
                this.deleteDialog = {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                }
            },

        },
        watch: {
            pagination: {
                handler(){
                    this.get()
                },
                deep: true,
                immediate: false
            },
            search(){
                clearTimeout(this.searchTimeout)
                this.searchTimeout = setTimeout(() => {
                    this.get()
                }, 800)
            }
        }
    }
</script>

<style scoped>

</style>
