<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1 mb-5" v-if="!loading && loaded">
            <v-card-text>
                <v-layout>
                    <v-flex xs6>
                        <div class="description">
                            <h3>Basic information</h3>
                        </div>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Subject:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.subject }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Status:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.status }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Priority:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.priority }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Due date:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.due_date }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                    <v-flex xs6>
                        <div class="description">
                            <h3>System information</h3>
                        </div>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Owner:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.owner.name }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Related record:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    <div v-if="record.related_module !== null && record.related_id !== null">
                                        {{ record.related_module }}
                                        <router-link :to="'/' + record.related_module.toLowerCase() + 's/view/' + record.related_id">
                                            <v-icon small>open_in_new</v-icon>
                                        </router-link>
                                    </div>
                                    <div v-else>-</div>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Closed time:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.closed_time !== null ? record.closed_time : '-' }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Notification time:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.notification_time !== null ? record.notification_time : '-' }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Owner notified:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    <v-icon v-if="record.notified === 1">done</v-icon>
                                    <p v-else>-</p>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
                <div class="description">
                    <h3>Description</h3>
                    <p>{{ record.description !== null ? record.description : '-' }}</p>
                </div>
            </v-card-text>
        </v-card>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to view is removed or inaccessible</h3>
        </div>
        <v-scale-transition>
            <v-btn
                fab
                dark
                fixed
                right
                bottom
                color="primary"
                v-if="loaded && !loading && floating"
                :to="'/tasks/edit/' + $route.params.id"
            >
                <v-icon>edit</v-icon>
            </v-btn>
        </v-scale-transition>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "ViewTask",
        data(){
            return {
                loaded: false,
                loading: true,
                floating: false,
                record: {}
            }
        },
        created(){
            this.get()
        },
        methods: {
            get(){
                this.loading = true
                this.floating = false
                axios.get('/tasks/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.record = response.data.data.record
                        setTimeout(() => {
                            this.floating = true
                        }, 500)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }

    .description{
        margin-top: 12px;
        padding: 0 16px;
    }

    .description h3{
        margin-bottom: 12px;
    }
</style>
