<template>
    <div>
        <v-layout>
            <v-flex xs12>
                <h3>Deal stage</h3>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <v-rating
                    v-model="stage"
                    length="10"
                    readonly
                >
                    <template v-slot:item="props">
                        <v-btn
                            color="blue darken-2"
                            flat
                            :outline="props.isFilled"
                            :class="{
                                'button-disabled': stage > props.index + 1
                            }"
                            @click="stage = props.index + 1"
                        >
                            {{ stages[props.index] }}
                        </v-btn>
                    </template>
                </v-rating>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs6 class="pr-3">
                <v-text-field
                    label="Name"
                    v-model="fields.name"
                    :error="fields.name === ''"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Product"
                    v-model="fields.product"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Company"
                    v-model="fields.company"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Deal source"
                    v-model="fields.source"
                    @change="sendData"
                ></v-text-field>
                <v-textarea
                    label="Description"
                    v-model="fields.description"
                    @change="sendData"
                ></v-textarea>
            </v-flex>
            <v-flex xs6>
                <v-select
                    :items="owners"
                    v-model="fields.user_id"
                    label="Owner"
                    prepend-icon="account_circle"
                    :error="fields.user_id === null || fields.user_id === undefined"
                    item-value="id"
                    item-text="name"
                ></v-select>
                <v-autocomplete
                    v-model="fields.contact_id"
                    :items="foundContacts"
                    :loading="contactsLoading"
                    :search-input.sync="contactsSearchString"
                    color="primary"
                    label="Contact"
                    hide-no-data
                    hide-selected
                    placeholder="Type to search contact"
                    prepend-icon="search"
                    :filter="v => v"
                    item-value="id"
                    clearable
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.first_name }} {{ (data.item.last_name || '') }}
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.first_name }} {{ (data.item.last_name || '') }}
                    </template>
                </v-autocomplete>
                <v-text-field
                    label="Amount"
                    v-model="fields.amount"
                    type="number"
                    @change="sendData"
                    prepend-icon="equalizer"
                ></v-text-field>
                <v-select
                    :items="currencies"
                    v-model="fields.currency"
                    label="Currency"
                    prepend-icon="attach_money"
                ></v-select>
                <v-select
                    :items="priorities"
                    v-model="fields.priority"
                    label="Priority"
                    prepend-icon="announcement"
                ></v-select>
                <v-menu
                    v-model="datepicker"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="fields.date"
                            label="Deal date"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="fields.date" @input="datepicker = false"></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Deal",
        props: {
            value: {
                type: Object,
                default: {
                    name: '',
                    user_id: null,
                    contact_id: null,
                    stage: 'New',
                    amount: null,
                    currency: 'USD',
                    product: '',
                    company: '',
                    date: null,
                    priority: 'Medium',
                    source: '',
                    description: '',
                }
            },
        },
        data(){
            return {
                datepicker: false,
                fields: {},
                currencies: ['USD', 'UAH', 'EUR'],
                priorities: [
                    'Highest',
                    'High',
                    'Medium',
                    'Low',
                    'Lowest',
                    'Highest',
                ],
                stages: [
                    'New',
                    'First Contact',
                    'Demo/Presentation',
                    'Needs Analysis',
                    'Proposal/Price Quote',
                    'Negotiation/Review',
                    'Contract',
                    'Execution',
                    'Closed Won',
                    'Closed Lost',
                ],
                owners: [],

                foundContacts: [],
                contactsLoading: false,
                contactsSearchString: '',
                contactsSearchDelay: null,

                stage: 1
            }
        },
        created(){
            this.fields = this.value
            this.setOwners()
            if(this.fields.contact_id !== null && this.foundContacts.length === 0){
                this.getContactShortInfo();
            }

            this.stage = this.stages.indexOf(this.fields.stage) + 1
        },
        methods: {
            sendData(){
                this.$emit('input', this.fields)
            },
            setOwners(){
                axios.get('/users')
                    .then((response) => {
                        this.owners = response.data.data.users
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            getContactShortInfo(){
                axios.get('/contacts/short/' + this.fields.contact_id)
                    .then((response) => {
                        this.foundContacts = [response.data.data.record]
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        watch: {
            contactsSearchString(val){
                if(val !== undefined && val !== null && val !== ''){
                    if(this.fields.contact_id === null || this.fields.contact_id === undefined){
                        clearTimeout(this.contactsSearchDelay);
                        this.contactsSearchDelay = setTimeout(() => {
                            this.contactsLoading = true
                            axios.get('/contacts/search?search=' + val)
                                .then((response) => {
                                    this.foundContacts = response.data.data.records
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                                .finally(() => {
                                    this.contactsLoading = false
                                })
                        }, 800);
                    }
                }
            },
            stage(val){
                this.fields.stage = this.stages[val - 1]
            }
        }
    }
</script>

<style scoped>
    .button-disabled{
        color: rgba(0,0,0,.26)!important;
    }
</style>
