<template>
    <div>
        <v-layout>
            <v-flex xs12>
                <h3>Basic information</h3>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs6 class="pr-3">
                <v-text-field
                    label="First name"
                    v-model="fields.first_name"
                    :error="fields.first_name === ''"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Last name"
                    v-model="fields.last_name"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Phone"
                    v-model="fields.phone"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Mobile"
                    v-model="fields.mobile"
                    @change="sendData"
                ></v-text-field>
                <v-textarea
                    label="Description"
                    v-model="fields.description"
                    @change="sendData"
                ></v-textarea>
            </v-flex>
            <v-flex xs6>
                <v-select
                    :items="owners"
                    v-model="fields.user_id"
                    label="Owner"
                    prepend-icon="account_circle"
                    :error="fields.user_id === null || fields.user_id === undefined"
                    item-value="id"
                    item-text="name"
                ></v-select>
                <v-text-field
                    label="Email"
                    v-model="fields.email"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Other email"
                    v-model="fields.other_email"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Skype"
                    v-model="fields.skype"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Website"
                    v-model="fields.website"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Lead source"
                    v-model="fields.lead_source"
                    @change="sendData"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <h3>Address</h3>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs6 class="pr-3">
                <v-text-field
                    label="Country"
                    v-model="fields.country"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="State"
                    v-model="fields.state"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="City"
                    v-model="fields.city"
                    @change="sendData"
                ></v-text-field>
            </v-flex>
            <v-flex xs6>
                <v-text-field
                    label="Street"
                    v-model="fields.street"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Postal code"
                    v-model="fields.zip"
                    @change="sendData"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <h3>Marketing information</h3>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs6 class="pr-3">
                <v-text-field
                    label="Utm campaign"
                    v-model="fields.utm_campaign"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Utm source"
                    v-model="fields.utm_source"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Utm medium"
                    v-model="fields.utm_medium"
                    @change="sendData"
                ></v-text-field>
            </v-flex>
            <v-flex xs6>
                <v-text-field
                    label="Utm content"
                    v-model="fields.utm_content"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Utm term"
                    v-model="fields.utm_term"
                    @change="sendData"
                ></v-text-field>
                <v-text-field
                    label="Google click ID"
                    v-model="fields.gclid"
                    @change="sendData"
                ></v-text-field>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Lead",
        props: {
            value: {
                type: Object,
                default: {
                    first_name: '',
                    user_id: null,
                    last_name: '',
                    email: '',
                    other_email: '',
                    phone: '',
                    mobile: '',
                    skype: '',
                    website: '',
                    lead_source: '',

                    street: '',
                    city: '',
                    state: '',
                    zip: '',
                    country: '',
                    description: '',

                    utm_campaign: '',
                    utm_medium: '',
                    utm_term: '',
                    utm_content: '',
                    utm_source: '',
                    gclid: '',
                }
            },
        },
        data(){
            return {
                fields: {},
                owners: []
            }
        },
        created(){
            this.fields = this.value
            this.setOwners()
        },
        methods: {
            sendData(){
                this.$emit('input', this.fields)
            },
            setOwners(){
                axios.get('/users')
                    .then((response) => {
                        this.owners = response.data.data.users
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
