<template>
    <div>
        <v-layout>
            <v-flex xs6 class="pr-3">
                <v-text-field
                    label="Subject"
                    v-model="fields.subject"
                    :error="fields.subject === ''"
                    @change="sendData"
                ></v-text-field>
                <v-textarea
                    label="Description"
                    v-model="fields.description"
                    @change="sendData"
                ></v-textarea>
            </v-flex>
            <v-flex xs6>
                <v-select
                    :items="owners"
                    v-model="fields.user_id"
                    label="Owner"
                    prepend-icon="account_circle"
                    :error="fields.user_id === null || fields.user_id === undefined"
                    item-value="id"
                    item-text="name"
                ></v-select>
                <v-select
                    :items="statuses"
                    v-model="fields.status"
                    label="Status"
                    prepend-icon="done_all"
                ></v-select>
                <v-select
                    :items="priorities"
                    v-model="fields.priority"
                    label="Priority"
                    prepend-icon="announcement"
                ></v-select>
                <v-menu
                    v-model="datepicker"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="fields.due_date"
                            label="Task due date"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="fields.due_date" @input="datepicker = false"></v-date-picker>
                </v-menu>
                <v-datetime-picker
                    label="Notification time"
                    v-model="notificationTime"
                    prependIcon="event"
                ></v-datetime-picker>
                <v-select
                    :items="relatedModules"
                    v-model="fields.related_module"
                    label="Related Module"
                    prepend-icon="view_module"
                    clearable
                ></v-select>
                <v-autocomplete
                    v-if="fields.related_module !== null && fields.related_module !== undefined"
                    v-model="fields.related_id"
                    :items="foundRelated"
                    :loading="relatedLoading"
                    :search-input.sync="relatedSearchString"
                    color="primary"
                    :label="'Related ' + fields.related_module.toLowerCase()"
                    hide-no-data
                    hide-selected
                    placeholder="Type to search related record"
                    prepend-icon="search"
                    :filter="v => v"
                    item-value="id"
                    clearable
                >
                    <template slot="selection" slot-scope="data">
                        <div v-if="fields.related_module === 'Lead' || fields.related_module === 'Contact'">
                            {{ data.item.first_name }} {{ (data.item.last_name || '') }}
                        </div>
                        <div v-else>
                            {{ data.item.name }}
                        </div>
                    </template>
                    <template slot="item" slot-scope="data">
                        <div v-if="fields.related_module === 'Lead' || fields.related_module === 'Contact'">
                            {{ data.item.first_name }} {{ (data.item.last_name || '') }}
                        </div>
                        <div v-else>
                            {{ data.item.name }}
                        </div>
                    </template>
                </v-autocomplete>

            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Task",
        props: {
            value: {
                type: Object,
                default: {
                    subject: '',
                    user_id: null,
                    related_module: null,
                    related_id: null,
                    status: 'New',
                    priority: 'Medium',
                    description: '',
                    closed_time: null,
                    due_date: null,
                    notification_time: null,
                    notified: false,
                }
            },
        },
        data(){
            return {
                datepicker: false,
                fields: {},
                priorities: [
                    'Highest',
                    'High',
                    'Medium',
                    'Low',
                    'Lowest',
                    'Highest',
                ],
                statuses: [
                    'New',
                    'Started',
                    'Finished',
                    'Failed',
                    'Declined',
                ],
                owners: [],

                relatedModules: [
                    'Lead',
                    'Contact',
                    'Deal',
                ],

                foundRelated: [],
                relatedLoading: false,
                relatedSearchString: '',
                relatedSearchDelay: null,

                notificationTime: null,
                initTime: true,
            }
        },
        created(){
            this.fields = this.value
            this.setOwners()

            if(this.fields.related_module !== null && this.fields.related_id !== null){
                this.getRelatedShortInfo()
            }

            if(this.fields.notification_time !== null){
                this.notificationTime = new Date(Date.parse(this.fields.notification_time))
            }
        },
        methods: {
            sendData(){
                this.$emit('input', this.fields)
            },
            setOwners(){
                axios.get('/users')
                    .then((response) => {
                        this.owners = response.data.data.users
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            getRelatedShortInfo(){
                let id = this.fields.related_id
                axios.get('/' + this.fields.related_module.toLowerCase() + 's/short/' + id)
                    .then((response) => {
                        this.foundRelated = [response.data.data.record]
                        this.fields.related_id = id
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        watch: {
            relatedSearchString(val){
                if(val !== undefined && val !== null && val !== ''){
                    if(this.fields.related_id === null || this.fields.related_id === undefined){
                        clearTimeout(this.relatedSearchDelay);
                        this.relatedSearchDelay = setTimeout(() => {
                            this.relatedLoading = true
                            axios.get('/' + this.fields.related_module.toLowerCase() + 's/search?search=' + val)
                                .then((response) => {
                                    this.foundRelated = response.data.data.records
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                                .finally(() => {
                                    this.relatedLoading = false
                                })
                        }, 800);
                    }
                }
            },
            'fields.related_module': {
                handler(val){
                    this.fields.related_id = null
                    this.foundRelated = []
                    this.relatedLoading = false
                    this.relatedSearchString = ''
                    this.relatedSearchDelay = null
                    if(val === undefined){
                        this.fields.related_module = null
                    }
                }
            },
            notificationTime(val){
                console.log(val)
                if(val === null){
                    this.fields.notification_time = null
                } else {
                    this.fields.notification_time = val.getFullYear() + '-' +
                        ('00' + (val.getMonth()+1)).slice(-2) + '-' +
                        ('00' + val.getDate()).slice(-2) + ' ' +
                        ('00' + val.getHours()).slice(-2) + ':' +
                        ('00' + val.getMinutes()).slice(-2) + ':' +
                        ('00' + val.getSeconds()).slice(-2)
                }
                if(this.initTime){
                    this.initTime = false
                } else {
                    this.fields.notified = false
                }
            }
        }
    }
</script>

<style scoped>
    .button-disabled{
        color: rgba(0,0,0,.26)!important;
    }
</style>
