<template>
    <v-container fluid>
        <v-text-field
            v-model="search"
            label="Search"
        ></v-text-field>
        <v-data-table
            :headers="headers"
            :items="contacts"
            :pagination.sync="pagination"
            :loading="loading"
            :total-items="totalCount"
            :rows-per-page-items="[10]"
            class="elevation-1 mb-5"
        >
            <template v-slot:items="props">
                <td>{{ props.item.first_name }}</td>
                <td>{{ props.item.last_name }}</td>
                <td><a :href="'tel:' + props.item.phone">{{props.item.phone}}</a></td>
                <td><a :href="'mailto:' + props.item.email">{{props.item.email}}</a></td>
                <td>{{ props.item.owner.name }}</td>
                <td>{{ props.item.created_at }}</td>
                <td class="justify-end layout px-0">
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="$router.push('/contacts/view/' + props.item.id)"
                            small
                            fab
                            flat
                            color="primary"
                        >
                            <v-icon>remove_red_eye</v-icon>
                        </v-btn>
                        <span>View</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="$router.push('/contacts/edit/' + props.item.id)"
                            small
                            fab
                            flat
                            color="primary"
                        >
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <span>Edit</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <v-btn
                            slot="activator"
                            @click="promtDelete(props.item)"
                            small
                            fab
                            flat
                            color="red darken-2"
                        >
                            <v-icon>delete</v-icon>
                        </v-btn>
                        <span>Delete</span>
                    </v-tooltip>
                </td>
            </template>
        </v-data-table>
        <v-dialog v-model="deleteDialog.show" persistent max-width="400">
            <v-card>
                <v-card-title class="headline primary" style="color: white">Action confirmation</v-card-title>
                <v-card-text>Are you sure want to delete contact "{{ deleteDialog.name }}"?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="deleteRecord(deleteDialog.id)" color="primary" :loading="deleteDialog.loading">Yes</v-btn>
                    <v-btn @click="deleteDialog.show = false" :disabled="deleteDialog.loading">No</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-scale-transition>
            <v-speed-dial
                v-if="!loading"
                v-model="fab"
                direction="top"
                fixed
                bottom
                right
                transition="slide-y-reverse-transition"
            >
                <template v-slot:activator>
                    <v-tooltip left fixed>
                        <v-btn
                            v-model="fab"
                            color="blue darken-2"
                            dark
                            fab
                            slot="activator"
                        >
                            <v-icon>edit</v-icon>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <span>Actions</span>
                    </v-tooltip>
                </template>
                <v-tooltip left fixed>
                    <v-btn
                        fab
                        dark
                        small
                        color="green darken-2"
                        slot="activator"
                        to="contacts/new"
                    >
                        <v-icon>add</v-icon>
                    </v-btn>
                    <span>Add new contact</span>
                </v-tooltip>
                <v-tooltip left fixed>
                    <v-btn
                        fab
                        dark
                        small
                        color="primary"
                        slot="activator"
                        @click="get"
                    >
                        <v-icon>refresh</v-icon>
                    </v-btn>
                    <span>Refresh list</span>
                </v-tooltip>
            </v-speed-dial>
        </v-scale-transition>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import {serialize, buildFilters} from '../../plugins/helpers'
    import {bus} from "../../services/bus"

    export default {
        name: "Contacts",
        data(){
            return {
                contacts: [],
                headers: [
                    {
                        text: 'First name',
                        value: 'first_name'
                    },
                    {
                        text: 'Last name',
                        value: 'last_name'
                    },
                    {
                        text: 'Phone',
                        value: 'phone'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Owner',
                        value: 'first_name',
                        sortable: false
                    },
                    {
                        text: 'Created time',
                        value: 'created_at'
                    },
                    {
                        text: 'Actions',
                        value: 'first_name',
                        align: 'right',
                        sortable: false
                    }
                ],
                pagination: {},
                search: '',
                searchTimeout: null,
                totalCount: 0,
                loading: false,
                deleteDialog: {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                },
                fab: false
            };
        },
        methods: {
            get(){
                this.fab = false
                this.loading = true
                axios.get('/contacts?' + serialize(buildFilters(this.pagination, this.search)))
                    .then((response) => {
                        this.contacts = response.data.records.data
                        this.totalCount = response.data.records.total
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            promtDelete(contact){
                this.deleteDialog = {
                    show: true,
                    id: contact.id,
                    name: contact.first_name + ' ' + (contact.last_name || ''),
                    loading: false,
                }
            },
            deleteRecord(id){
                this.deleteDialog.loading = true
                axios.delete('/contacts/' + id)
                    .then((response) => {
                        this.clearDeleteDialog()
                        this.get()
                    })
                    .catch((error) => {
                        console.log(error)
                        bus.$emit('snack-info', 'Something wen wrong when trying to delete contact "' + this.deleteDialog.name + '", please, try again...');
                        this.clearDeleteDialog()
                    })
                    .finally(() => {
                        this.deleteDialog.loading = false
                    })
            },
            clearDeleteDialog(){
                this.deleteDialog = {
                    show: false,
                    id: null,
                    name: '',
                    loading: false
                }
            },

        },
        watch: {
            pagination: {
                handler(){
                    this.get()
                },
                deep: true,
                immediate: false
            },
            search(){
                clearTimeout(this.searchTimeout)
                this.searchTimeout = setTimeout(() => {
                    this.get()
                }, 800)
            }
        }
    }
</script>

<style scoped>

</style>
