<template>
    <div>
        <div class="loader" v-if="loading">
            <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
                class="mb-2"
            ></v-progress-circular>
            <p>Loading...</p>
        </div>
        <v-card class="elevation-1" v-if="!loading && loaded">
            <v-card-text>
                <v-layout>
                    <v-flex xs4>
                        <div class="description">
                            <h3>Basic information</h3>
                        </div>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Name:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.first_name + ' ' + (record.last_name || '') }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Email:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.email }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Other email:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.other_email }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Phone:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.phone }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Mobile:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.mobile }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Skype:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.skype }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Website:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.website }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                    <v-flex xs4>
                        <div class="description">
                            <h3>Address information</h3>
                        </div>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Country:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.country }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>State:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.state }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>City:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.city }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Street:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.street }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>Zip:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.zip }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                    <v-flex xs4>
                        <div class="description">
                            <h3>Marketing information</h3>
                        </div>
                        <v-list dense>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>utm_campaign:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.utm_campaign }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>utm_medium:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.utm_medium }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>utm_term:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.utm_term }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>utm_content:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.utm_content }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>utm_source:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.utm_source }}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <b>gclid:</b>
                                </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{ record.gclid }}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
                <div class="description">
                    <h3>Description</h3>
                    <p>{{ record.description !== null ? record.description : '-' }}</p>
                </div>
            </v-card-text>
        </v-card>
        <v-card v-if="!loading" class="mt-2">
            <v-card-title class="headline">Related Deals</v-card-title>
            <v-card-text>
                <v-data-table
                    :headers="dealsHeaders"
                    :items="deals"
                    :loading="dealsLoading"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.stage }}</td>
                        <td>{{ props.item.date }}</td>
                        <td>{{ props.item.product }}</td>
                        <td>{{ props.item.company }}</td>
                        <td class="justify-end layout px-0">
                            <v-tooltip top>
                                <v-btn
                                    slot="activator"
                                    @click="$router.push('/deals/view/' + props.item.id)"
                                    small
                                    fab
                                    flat
                                    color="primary"
                                >
                                    <v-icon>remove_red_eye</v-icon>
                                </v-btn>
                                <span>View</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-card v-if="!loading" class="mt-2 mb-5">
            <v-card-title class="headline">Related Tasks</v-card-title>
            <v-card-text>
                <v-data-table
                    :headers="tasksHeaders"
                    :items="tasks"
                    :loading="tasksLoading"
                    class="elevation-1"
                >
                    <template v-slot:items="props">
                        <td>{{ props.item.subject }}</td>
                        <td>{{ props.item.status }}</td>
                        <td>{{ props.item.priority }}</td>
                        <td>{{ props.item.due_date }}</td>
                        <td class="justify-end layout px-0">
                            <v-tooltip top>
                                <v-btn
                                    slot="activator"
                                    @click="$router.push('/tasks/view/' + props.item.id)"
                                    small
                                    fab
                                    flat
                                    color="primary"
                                >
                                    <v-icon>remove_red_eye</v-icon>
                                </v-btn>
                                <span>View</span>
                            </v-tooltip>
                        </td>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <chart v-if="!loading && loaded" :month-q="1.5" :year-q="16" :threshold="50"></chart>
        <div class="loader" v-if="!loading && !loaded">
            <h3>Record that you trying to view is removed or inaccessible</h3>
        </div>
        <v-scale-transition>
            <v-btn
                fab
                dark
                fixed
                right
                bottom
                color="primary"
                v-if="loaded && !loading && floating"
                :to="'/contacts/edit/' + $route.params.id"
            >
                <v-icon>edit</v-icon>
            </v-btn>
        </v-scale-transition>
    </div>
</template>

<script>
    import axios from 'axios'
    import Chart from '../../components/Chart'

    export default {
        name: "ViewContact",
        components: {
            Chart,
        },
        data(){
            return {
                loaded: false,
                loading: true,
                floating: false,
                record: {},

                dealsHeaders: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Stage',
                        value: 'stage'
                    },
                    {
                        text: 'Due date',
                        value: 'date'
                    },
                    {
                        text: 'Product',
                        value: 'product'
                    },
                    {
                        text: 'Company',
                        value: 'company'
                    },
                    {
                        text: 'Actions',
                        value: 'name',
                        align: 'right',
                        sortable: false
                    }
                ],
                deals: [],
                dealsLoading: false,

                tasksHeaders: [
                    {
                        text: 'Subject',
                        value: 'subject'
                    },
                    {
                        text: 'Status',
                        value: 'status'
                    },
                    {
                        text: 'Priority',
                        value: 'priority'
                    },
                    {
                        text: 'Due date',
                        value: 'due_date'
                    },
                    {
                        text: 'Actions',
                        value: 'name',
                        align: 'right',
                        sortable: false
                    }
                ],
                tasks: [],
                tasksLoading: false,
            }
        },
        created(){
            this.get()
            this.getRelatedDeals()
            this.getRelatedTasks()
        },
        methods: {
            get(){
                this.loading = true
                this.floating = false
                axios.get('/contacts/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.record = response.data.data.record
                        setTimeout(() => {
                            this.floating = true
                        }, 500)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            getRelatedDeals(){
                this.dealsLoading = true
                axios.get('/related/deals/contact/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.deals = response.data.data.deals
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.dealsLoading = false
                    })
            },
            getRelatedTasks(){
                this.tasksLoading = true
                axios.get('/related/tasks/contact/' + this.$route.params.id)
                    .then((response) => {
                        this.loaded = true
                        this.tasks = response.data.data.tasks
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.tasksLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
    .loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
    }

    .loader p{
        font-weight: 500;
    }

    .description{
        margin-top: 12px;
        padding: 0 16px;
    }

    .description h3{
        margin-bottom: 12px;
    }
</style>
